:root {
  --palegray: #EEE;
  --paleyellow: #FFFD9E;
  --paleorange: #FFB329;
  --pureorange: #FF8905;
  --burntorange: #FF5A00;
  --lightred: #FF3C29;
  --darkred: #E8390C;
  --superdarkred: #D73000;
  --iceblue: #89FFFE;
  --gradient: var(--paleyellow), var(--paleorange), var(--pureorange), var(--burntorange), var(--lightred), var(--superdarkred), var(--iceblue);
  --navgradient: var(--paleyellow), var(--pureorange), var(--superdarkred), var(--iceblue);
}
body {
  background-image: linear-gradient(var(--palegray), var(--gradient));
  background-position: center;
  background-repeat: no-repeat;
}
th {padding: 2vmin;}
img {width: 100%;}
h1 {
  border-left: var(--palegray) 3px solid;
  background-image: linear-gradient(to right, var(--gradient), transparent);
  display: flex;
}
figure {
  border: 3px solid white;
  border-spacing: 0px;
  display: grid;
  padding: 0 0 10px 0;
}
figcaption {margin-left: .5em;}
li {
  list-style-type: disc;
  margin: 1em 0em;
}
ul ul li {list-style-type: circle;}
.flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.notflex {
  display: block;
  justify-content: start;
}
.line1 {
  color: white;
  font-weight: 400;
  margin: 1vmax 0vmax;
}
.line2 {
  color: white;
  font-weight: 400;
  margin: 1vmax 0vmax 3vmax;
}
.arrow {
  color: black;
  font-size: 4vmin;             /*---  Snippits of code from https://codepen.io/varystrategic/pen/zGrMQK  ---*/
	transition: all 200ms ease;   /*---  Transforming/hover arrow code by@varystrategic  ---*/
  text-decoration: none;
  margin-top: 3vmin;
}
.left {transform: translate3d(0,-50%,0);}
.right {transform: translate3d(0,-50%,0);}
.arrow:hover {
  background-image: linear-gradient(to right, var(--navgradient));
  color: var(--palegray);
  padding: 1% 2%;
  text-shadow: 0.5px -0.5px 2px #333;
}
.homebutton {
  color: black;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
  transition: all 200ms ease;
}
.homebutton:hover {
  background-image: linear-gradient(to right, var(--navgradient));
  color: var(--palegray);
  padding: 2% 4%;
  text-shadow: 0.5px -0.5px 2px #333;
}
.namebig {
  align-items: center;
  display: flex;
  font-size: 3em;
  font-weight: bolder;
  justify-content: space-around;
  margin-bottom: 2em;
}
.fig1 {
  float: right;
  width: 25%;
}
.fig2 {
  float: right;
  border: none;
  margin: 0 5px 0 10px;
  padding: 0;
  width: 10em;
}
.fig2row {display: flex;}
.fig2col {flex: 50%;}
.fig3 {
  float: left;
  border: none;
  display: block;
  margin: 20px;
  padding: 0;
  width: 7em;
}
.fig4 {
  float:right;
  margin: 15px;
  width: 300px;
}
.fig5 {
  float:left;
  margin: 10px;
  width: 250px;
}
.fig6 {
  float: right;
  margin: 10px;
  width: 250px;
}
.fig7 {
  margin: auto;
  width: 250px;
}
.boxoinfo {display:inline;}
.tablebox {
  border: 2px solid white;
  display: inline flex;
  float: left;
  margin: 2vmin 3vmin;
  padding: 2vmin;
  text-align: left;
}
.firstrow {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
ul.quotes {font-style: italic;}
.gallery {
  align: center;
  vertical-align: middle;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
  "one two three"
  "four six five"
  "four seven five";
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  width: 100%;
  height: 100%;
}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}

.footnav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 1em 0;
}
.footnav i {color: black;}
.top {
  display: block !important;
}
.copyright {
  text-align: center;
  display: block;
  padding: 1em;
}
.copyright img {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .fig1 {display: none;}
  .tablebox {
    border: 2px solid white;
    display: grid;
    padding: 0;
    text-align: left;
  }
  .boxoinfo {display: block;}
  .grid-container {
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine";
  }
  .footnav {display: none;}
  .footnav.top {display: flex;}
}
