body {
  background-image: linear-gradient(#FFB329, #FF3C29);
  background-position: center;
  background-repeat: no-repeat;
}
head {}
nav {}
div {}
th {
  padding: 2vmin;
}
footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.notflex {
  display: block;
  justify-content: start;
}
.arrow {
  color: black;
  font-size: 6vmin;             /*---  Snippits of code from https://codepen.io/varystrategic/pen/zGrMQK  ---*/
	transition: all 200ms ease;   /*---  Transforming/hover arrow code by@varystrategic  ---*/
  text-decoration: none;
}
.left {transform: translate3d(0,-50%,0);}
.right {transform: translate3d(0,-50%,0);}
.arrow:hover {text-shadow: 0.5px -0.5px 0 white;}

.homebutton {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
.homebutton:hover {
  color: #FF3C29;
  text-shadow: 0.5px -0.5px 0 white;
}
.img1 {
  float: right;
  margin: 10px;
  padding: 5px;
  width: 25%;
}
.info {
  border: 2px solid white;
  float: left;
  margin: 2vmin;
  padding: 2vmin;
  text-align: left;
}
.firstrow {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
.line {
  color: white;
  font-weight: 400;
}
