body {
  background-image: linear-gradient(#EEE, #FFFD9E, #FFB329, #FF8905, #FF5A00, #E8390C, #FF3C29, #D73000, #89FFFE);
  background-position: center;
  background-repeat: no-repeat;
}
head {}
nav {}
div {}
th {
  padding: 2vmin;
}
h1 {
  border-left: #EEE 3px solid;
  background-image: linear-gradient(to right, #FFFD9E, #FFB329, #FF8905, #FF5A00, #FF3C29, #D73000, #89FFFE, transparent);
  display: flex;
}
figure {
  border: 3px solid white;
  border-spacing: 0px;
  float: right;
  padding: 0px 10px 10px;
  width: 25%;
}
footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.notflex {
  display: block;
  justify-content: start;
}
.line1 {
  color: white;
  font-weight: 400;
  margin: 1vmax 0vmax;
}
.line2 {
  color: white;
  font-weight: 400;
  margin: 1vmax 0vmax 3vmax;
}
.arrow {
  color: black;
  font-size: 8vmin;             /*---  Snippits of code from https://codepen.io/varystrategic/pen/zGrMQK  ---*/
	transition: all 200ms ease;   /*---  Transforming/hover arrow code by@varystrategic  ---*/
  text-decoration: none;
}
.left {transform: translate3d(0,-50%,0);}
.right {transform: translate3d(0,-50%,0);}
.arrow:hover {color: #D73000; text-shadow: 0.5px -0.5px 2px #FFB329;}

.homebutton {
  color: black;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
}
.homebutton:hover {
  color: #D73000;
  text-shadow: 0.5px -0.5px 2px #FFB329;
}
.namebig {
  align-items: center;
  display: flex;
  font-size: 3em;
  font-weight: bolder;
  justify-content: space-around;
  margin-bottom: 2em;
}
.img1 {
  width: 100%;
}
.boxoinfo {
  display: flex;
}
.tablebox {
  border: 2px solid white;
  display: inline flex;
  float: left;
  margin: 2vmin 3vmin;
  padding: 2vmin;
  text-align: left;
}
.firstrow {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
.gallery {
  align: center;
  border: 3px solid white;
  vertical-align: middle;
  width: 100%;
}
.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
                "head head head"
                "head2 head2 head2"
                "1img 2img 3img"
                "4img 5img 6img"
                "7img 8img 9img";
                /*"1img 1img 4img"
                "2img 2img 4img"
                "5img 3img 3img"
                "5img 6img 6img";*/
}
.h1gallery{grid-area: head;}
.pgallery {grid-area: head2;}
.one {grid-area: 1img;}
.two {grid-area: 2img;}
.three {grid-area: 3img;}
.four {grid-area: 4img;}
.five {grid-area: 5img;}
.six {grid-area: 6img;}
.seven {grid-area: 7img;}
.eight {grid-area: 8img;}
.nine {grid-area: 9img;}
.ten {grid-area: 10img;}
.eleven {grid-area: 11img;}
.twelve {grid-area: 12img;}
